.event-title
{
  color: #052EFD !important;

}
.form-label {
  color: #FFFFFF;
  margin-bottom: 4px;
}
.form-control
{
  background-color: transparent;
  border: 1px solid #FFFFFF !important;
  color: #FFFFFF80
}
.form-control::placeholder {
  color: #aaa;
}

.form-select {
  background-color: transparent;
  border: 1px solid #052EFD;
  color: #FFFFFF80
}

.price-input {
  background-color: transparent;
  color: #979797;
  border-radius: 6px;
  padding-right: 50px;
  height: 40px;
}

.currency-label {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 0.875rem;
}

.upload-field {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  height: 40px;
  color: #FFFFFF;
}

.upload-file-label
{
  background-color: #36383A;
  color: #FFFFFF !important;
}
.custom-upload {
  border: 1px solid #333;
  padding: 10px;
  background-color: #1e1e1e;
  color: #aaa;
}

.submit-btn {
  background-color: #052EFD;
  color: #FFFFFF;
  width: 400px;;
  border-radius: 78px;
  padding: 10px 30px;
}

.camera-option {
  background-color: transparent;
  border-radius: 10px;
  color: #fff;
}

.tick-circle-1 {
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
}
.tick-circle-2 {
  width: 20px;
  height: 20px;
  font-size: 12px;
  border: 2px solid #052EFD;
  border-radius: 50%;
  background-color: transparent;
}
