.form-control,
.form-select {
  background-color:  #292826;
  color: #FFFFFF;
  border: none;
}
.form-control::placeholder,
.form-select::placeholder {
  color: #FFFFFF !important;
  font-size: 16px;
}

.form-label {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
}

.form-control:focus,
.form-select:focus {
  background-color: #1a1a1a;
  color: #fff;
  border-color: #555;
  box-shadow: none;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.form-section {
  background-color: transparent;
  border-radius: 8px;
  padding: 2rem;
}

.password-toggle {
  cursor: pointer;
  color: #888;
}

.btn-primary {
  background-color: #052EFD;
  border: none;
}

.btn-primary:hover {
  background-color: #052EFD;
}

.eye-button 
{
  background-color:  #292826 !important;
  border: none;
  
}
.btn-primary{
  background-color: #292826;
  border: none;
}