.settings-item {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.settings-item i {
  font-size: 1.2rem;
  margin-right: 12px;
}
.settings-label {
  display: flex;
  align-items: center;
}
.settings-chevron {
  font-size: 1.1rem;
  color: white;
}
.danger-text {
  color: #dc3545 !important;
}

.account-actions {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
