.logo {
  max-width: 354px;
  max-height: 187px;
}

.btn {
  border: 1px solid #052efd;
  font-weight: 500;
  border-radius: 5px !important;
  
}

.role-btn {
  width: 100%;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 6px;
}

.role-btn-outline {
  border: 1px solid #052efd;
  color: #052efd;
  background: transparent;
}

.role-btn-outline:hover {
  background-color: #052efd;
  color: #fff;
}

.blue-btn {
  background-color: #052efd;
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 50px;
  padding: 10px 0;
  width: 100%;
}

a.text-link {
  color: #052efd;
  text-decoration: none;
}

a.text-link:hover {
  text-decoration: underline;
}

.form-check-input:checked {
  background-color: #052efd;
  border-color: #052efd;
}
